.preloader {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 999999;
    background-color: #fff;
}

.sk-folding-cube {
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px 12px;
    background-color: #0b80e4;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotate(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotate(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotate(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

.section_padd{
	padding: 90px 0;
}

.mr_5{
	margin-right: 5px;
}

.mb_10{
	margin-bottom: 10px;
}
.mt_10{
	margin-top: 10px;
}
.mr_10{
	margin-right: 10px;
}
.mr_15{
	margin-right: 15px;
}
.mb_15{
	margin-bottom: 15px;
}
.mt_15{
	margin-top: 15px;
}
.mb_20{
	margin-bottom: 20px;
}
.mt_20{
	margin-top: 20px;
}
.mb_25{
	margin-bottom: 25px;
}
.mt_25{
	margin-top: 25px;
}
.mb_30{
	margin-bottom: 30px;
}
.mt_30{
	margin-top: 30px;
}
.mb_35{
	margin-bottom: 35px;
}
.mt_40{
	margin-top: 40px;
}
.mb_40{
	margin-bottom: 40px;
}
.mb_60{
	margin-bottom: 60px;
}

.mr_15{
	margin-right: 15px;
}
.ml_15{
	margin-left: 15px;
}
